version: '3.9'

services:
  spring-web:
    build:
      context: .
      dockerfile: Dockerfile-web
    hostname: 'web'
    ports:
      - '15378:15378'
    networks:
      - web-network
    depends_on:
      - db-postgres
      - minio

  db-postgres:
    image: postgres:14
    environment:
      POSTGRES_DB: "dragons"
      POSTGRES_USER: "admin"
      POSTGRES_PASSWORD: "admin"
    ports:
      - "5432:5432"
    networks:
      - web-network
    volumes:
      - dragons-data:/var/lib/postgresql/data

  front:
    build:
      context: .
      dockerfile: Dockerfile-nginx
    hostname: 'frontend'
    ports:
      - '80:80'
    networks:
      - web-network
    depends_on:
      - spring-web
    extra_hosts:
      - 'host.docker.internal:host-gateway'

  minio:
    image: minio/minio:RELEASE.2025-02-03T21-03-04Z
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: ${MINIO_ACCESS_KEY:-minioadmin}
      MINIO_ROOT_PASSWORD: ${MINIO_SECRET_KEY:-minioadmin}
    ports:
      - "9000:9000"
      - "9001:9001"
    networks:
      - web-network
    volumes:
      - minio-data:/data

networks:
  web-network:
    driver: bridge

volumes:
  dragons-data:
  minio-data:
