version: '3.9'

services:
  spring-web:
    build:
      context: .
      dockerfile: Dockerfile-web
    hostname: 'web'
    ports:
      - '8081:8080'
    networks:
      - web-network
    depends_on:
      - db-postgres

  db-postgres:
    image: postgres:14
    environment:
      POSTGRES_DB: "dragons"
      POSTGRES_USER: "admin"
      POSTGRES_PASSWORD: "admin"
    ports:
      - "5432:5432"
    networks:
      - web-network
    volumes:
      - dragons-data:/var/lib/postgresql/data

  front:
    build:
      context: .
      dockerfile: Dockerfile-nginx
    hostname: 'frontend'
    ports:
      - '80:80'
    networks:
      - web-network
    depends_on:
      - spring-web
    extra_hosts:
      - 'host.docker.internal:host-gateway'

networks:
  web-network:
    driver: bridge

volumes:
  dragons-data:
