.header-info > h2 {
    font-size: 24pt;
    font-style: italic;
}

header {
    min-height: 100px;
    min-width: 100%;
    background: url("../static/img/dirt.jpg") center center/100px 100px repeat;
    display: flex;
    align-items: center; /* Вертикальное выравнивание */
    justify-content: center; /* Центрирование по горизонтали */
}

.diamond {
    background: url('../static/img/diamond.webp') center center/64px 64px;
    width: 64px;
    height: 64px;
}

.center-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1; /* Занимает всё доступное пространство */
}

#login {
    margin-left: auto; /* Сдвигает элемент вправо */
    padding-right: 20px; /* Добавляет отступ от правого края */
}