.scrollable-list {
    max-height: 90px; /* Фиксированная высота */
    overflow-y: auto; /* Включаем вертикальный скролл */
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}

#location-list div,
#coordinates-list div,
#killer-list div,
#cave-list div,
#head-list div {
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#location-list div:hover,
#coordinates-list div:hover,
#killer-list div:hover,
#cave-list div:hover,
#head-list div:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

#location-list div.selected,
#coordinates-list div.selected,
#killer-list div.selected,
#cave-list div.selected,
#head-list div.selected {
    background-color: rgba(0, 0, 0, 0.2);
}

#location-loading-indicator,
#coordinates-loading-indicator,
#killer-loading-indicator,
#cave-loading-indicator,
#head-loading-indicator {
    text-align: center;
    padding: 10px;
    font-style: italic;
    color: #666;
}